body {
  background-image: url("../images/launch_eight_bit.png");
  background-image: url("../images/space-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw; }
