$test: blue;
body {
  //   background-image: url("../images/launch_eight_bit.png");
  background-image: url("../images/space-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
h1 {
  font-family: "Press Start 2P", cursive;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  //   border: 1px solid white;
  height: 40vh;
  width: 100vw;
}
// p {
//   font-family: "Press Start 2P", cursive;
//   color: white;
// }
